.userNotices {
    &__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__wrapper {
        background-color: #e5d9bd;
        border-radius: 8px;
        padding: 15px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__card {
        width: 100%;
        border: 1px solid #af8f46;
        border-radius: 4px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;

        @media (min-width: 625px) {
            grid-template-columns: 270px 1fr;
        }

        &Image {
            width: 100%;
        }
        &Content {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &Title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        &Text {
            margin-bottom: 5px;
            font-weight: 500;
        }
        &ButtonGroup {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: auto;
        }
        &Button {
            background-color: #8D3131;
            border-radius: 8px;
            border: 0;
            padding: 10px 20px;
            color: white;
            font-weight: 600;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.35s ease-in-out;
            margin-right: 10px;

            &:hover {
                background-color: black;
            }
        }
    }
}